### Дополнительное задание для работы с курсовым проектом:

*(Необязательно выполнять, но очень желательно)*

Скачать данные из соревнования, пока можете работать только с train.csv. Считать их.

1. Посчитать основные статистики по каждому признаку (минимальные, максимальные, средние значения). Сделать выводы об адекватности этих статистик.

2. Посчитать для каждого признака, сколько в нем уникальных значений и как часто они встречаются. Сделать выводы по каждому признаку.

3. Используя выводы из двух предыдущих заданий, найдите те наблюдения, где есть пропуски, выбросы или неадекватные значения, используя фильтрацию из pandas.

**Пути к директориям и файлам**

In [1]:
TRAIN_DATASET_PATH = 'train.csv'
TEST_DATASET_PATH = 'test.csv'

In [2]:
import pandas as pd

### Загрузка данных <a class='anchor' id='load'>

#### Описание набора данных
- **Id** - идентификационный номер квартиры
- **DistrictId** - идентификационный номер района
- **Rooms** - количество комнат
- **Square** - площадь
- **LifeSquare** - жилая площадь
- **KitchenSquare** - площадь кухни
- **Floor** - этаж
- **HouseFloor** - количество этажей в доме
- **HouseYear** - год постройки дома
- **Ecology_1, Ecology_2, Ecology_3** - экологические показатели местности
- **Social_1, Social_2, Social_3** - социальные показатели местности
- **Healthcare_1, Helthcare_2** - показатели местности, связанные с охраной здоровья
- **Shops_1, Shops_2** - показатели, связанные с наличием магазинов, торговых центров
- **Price** - цена квартиры

In [3]:
train_df = pd.read_csv(TRAIN_DATASET_PATH)
train_df.tail()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
9995,1260,61,2.0,49.090728,33.272626,6.0,3,12.0,1981,0.300323,B,B,52,10311,6,NaN,1,9,B,119367.455796
9996,16265,27,2.0,64.307684,37.038420,9.0,13,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,199715.148807
9997,2795,178,1.0,29.648057,16.555363,5.0,3,5.0,1958,0.460556,B,B,20,4386,14,NaN,1,5,B,165953.912580
9998,14561,21,1.0,32.330292,22.326870,5.0,3,9.0,1969,0.194489,B,B,47,8004,3,125.0,3,5,B,171842.411855
9999,7202,94,1.0,35.815476,22.301367,6.0,9,9.0,1975,0.127376,B,B,43,8429,3,NaN,3,9,B,177685.627486

In [4]:
train_df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

In [6]:
test_df = pd.read_csv(TEST_DATASET_PATH)
test_df.tail()

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2
4995,10379,29,2.0,43.177521,30.339945,5.0,6,5.0,1962,0.069660,B,B,31,6119,4,NaN,1,2,B
4996,16138,38,3.0,93.698122,94.521465,10.0,21,27.0,2018,0.060753,B,B,15,2787,2,520.0,0,7,B
4997,3912,101,1.0,33.656723,19.003259,5.0,2,5.0,1966,0.038693,B,B,28,6533,1,1015.0,2,5,B
4998,5722,10,1.0,38.635155,20.976257,9.0,8,14.0,1970,0.089040,B,B,33,7976,5,NaN,0,11,B
4999,11004,21,2.0,67.122742,33.944344,13.0,9,17.0,2009,0.194489,B,B,47,8004,3,125.0,3,5,B

In [10]:
print('Строк в тренировочном наборе: \t', train_df.shape[0])
print('Строк в тестовом наборе:\t', test_df.shape[0])

Строк в тренировочном наборе: 	 10000
Строк в тестовом наборе:	 5000

In [11]:
train_df.shape, test_df.shape

((10000, 20), (5000, 19))

### Приведение типов <a class='anchor' id='pre_type'>

In [13]:
train_df.dtypes

Id                 int64
DistrictId         int64
Rooms            float64
Square           float64
LifeSquare       float64
KitchenSquare    float64
Floor              int64
HouseFloor       float64
HouseYear          int64
Ecology_1        float64
Ecology_2         object
Ecology_3         object
Social_1           int64
Social_2           int64
Social_3           int64
Healthcare_1     float64
Helthcare_2        int64
Shops_1            int64
Shops_2           object
Price            float64
dtype: object

>Поле id идентификатор квартиры (уникальный) информации для модели не несет

In [14]:
train_df['Id'] = train_df['Id'].astype(str)

In [29]:
# todo train_df['DistrictId'] = train_df['DistrictId'].astype(str)
# pd.value_counts(train_df.DistrictId).head(60)

## 1. EDA  <a class='anchor' id='eda'>
- Исправления выбросов
- Заполнения NaN
- Идей для генерации новых фич
- Оценка логики в значениях

### Консистентный анализ <a class='anchor' id='const_analisys'>

In [30]:
train_df.Rooms.describe()

count    10000.000000
mean         1.890500
std          0.839512
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         19.000000
Name: Rooms, dtype: float64

In [32]:
pd.value_counts(train_df.Rooms)

2.0     3880
1.0     3705
3.0     2235
4.0      150
5.0       18
0.0        8
10.0       2
6.0        1
19.0       1
Name: Rooms, dtype: int64

### Пропуски

In [47]:
RE.isnull().values

array([[False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       ...,
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False],
       [False, False, False, ..., False, False, False]])

### Rooms статистика

In [24]:
RE['Rooms'].describe()

count    10000.000000
mean         1.890500
std          0.839512
min          0.000000
25%          1.000000
50%          2.000000
75%          2.000000
max         19.000000
Name: Rooms, dtype: float64

### Rooms аномалии

In [30]:
r=RE['Rooms']
r[r==0]

2194    0.0
3780    0.0
5894    0.0
6401    0.0
7644    0.0
7929    0.0
9767    0.0
9869    0.0
Name: Rooms, dtype: float64

In [33]:
r.sort_values().tail()

1459     5.0
8794     6.0
2728    10.0
2004    10.0
6088    19.0
Name: Rooms, dtype: float64

In [48]:
r.isnull().values.any()

False

#### Итого аномалии
Room = 0
Room = 19,10,10
Пропусков нет

### DistrictId аномалии

In [38]:
d=RE['DistrictId']
d.describe()

count    10000.000000
mean        50.400800
std         43.587592
min          0.000000
25%         20.000000
50%         36.000000
75%         75.000000
max        209.000000
Name: DistrictId, dtype: float64

In [51]:
d.isnull().values.any()

False

#### Итого аномалии: не найдены

### Square аномалии

In [54]:
s=RE['Square']
s.describe()

count    10000.000000
mean        56.315775
std         21.058732
min          1.136859
25%         41.774881
50%         52.513310
75%         65.900625
max        641.065193
Name: Square, dtype: float64

In [59]:
s[s < 10]

161     2.954309
328     4.390331
1401    5.129222
4496    1.988943
4800    4.502784
5009    4.633498
7033    5.497061
7470    1.136859
8572    2.596351
8805    4.380726
9067    4.823679
9869    2.377248
Name: Square, dtype: float64

In [65]:
s[s < 10].index

Int64Index([161, 328, 1401, 4496, 4800, 5009, 7033, 7470, 8572, 8805, 9067,
            9869],
           dtype='int64')

In [61]:
s[s > 300]

726     604.705972
7010    409.425181
9229    641.065193
Name: Square, dtype: float64

In [66]:
s[s > 300].index

Int64Index([726, 7010, 9229], dtype='int64')

In [62]:
s.isnull().values.any()

False

 ### Итого аномалии:
 161, 328, 1401, 4496, 4800, 5009, 7033, 7470, 8572, 8805, 9067, 9869, 726, 7010, 9229

### Аномалии Square

In [107]:
s=RE['LifeSquare']
s.describe()

count    7887.000000
mean       37.199645
std        86.241209
min         0.370619
25%        22.769832
50%        32.781260
75%        45.128803
max      7480.592129
Name: LifeSquare, dtype: float64

In [117]:
s.isnull().sum()

2113

In [118]:
s.isnull().sum() / s.count() * 100

26.79092177000127

### Итого аномалии:
около 30 % пропущенных данных

### Анномалии KitchenSquare

In [97]:
k=RE['KitchenSquare']
k.describe()

count    10000.000000
mean         6.273300
std         28.560917
min          0.000000
25%          1.000000
50%          6.000000
75%          9.000000
max       2014.000000
Name: KitchenSquare, dtype: float64

In [119]:
k.isnull().sum()

0

In [121]:
kz = k[ k == 0].count()
kz

697

In [123]:
kz / k.count() * 100

6.97