# Тема “Работа с данными в Pandas”
## Задание 1

Импортируйте библиотеку Pandas и дайте ей псевдоним pd. Создайте датафрейм authors со столбцами author_id и author_name, в которых соответственно содержатся данные:

     [1, 2, 3] и ['Тургенев', 'Чехов', 'Островский'].

In [12]:
import pandas as pd

authors = pd.DataFrame({'author_id': [1, 2, 3],
                        'author_name': ['Тургенев', 'Чехов', 'Островский']})
authors

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

Затем создайте датафрейм book cо столбцами author_id, book_title и price, в которых соответственно содержатся данные:

    [1, 1, 1, 2, 2, 3, 3],
    ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
    [450, 300, 350, 500, 450, 370, 290].

In [13]:
book = pd.DataFrame({'author_id': [1, 1, 1, 2, 2, 3, 3],
                     'book_title': ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'],
                     'price': [450, 300, 350, 500, 450, 370, 290]
                     })
book

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

## Задание 2
Получите датафрейм authors_price, соединив датафреймы authors и books по полю author_id.

In [14]:
authors_price=pd.merge(authors, book, on='author_id', how='outer')
authors_price

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

## Задание 3
Создайте датафрейм top5, в котором содержатся строки из authors_price с пятью самыми дорогими книгами.

In [15]:
top5 = authors_price.nlargest(5, 'price')
top5

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

## Задание 4
Создайте датафрейм authors_stat на основе информации из authors_price. В датафрейме authors_stat должны быть четыре столбца:
author_name, min_price, max_price и mean_price,
в которых должны содержаться соответственно имя автора, минимальная, максимальная и средняя цена на книги этого автора.

In [16]:
authors_price['min_price'] = authors_price['price']
authors_price['max_price'] = authors_price['price']
authors_price['mean_price'] = authors_price['price']

authors_price

,author_id,author_name,book_title,price,min_price,max_price,mean_price
0,1,Тургенев,Отцы и дети,450,450,450,450
1,1,Тургенев,Рудин,300,300,300,300
2,1,Тургенев,Дворянское гнездо,350,350,350,350
3,2,Чехов,Толстый и тонкий,500,500,500,500
4,2,Чехов,Дама с собачкой,450,450,450,450
5,3,Островский,Гроза,370,370,370,370
6,3,Островский,Таланты и поклонники,290,290,290,290

In [17]:
authors_stat = authors_price.groupby('author_name')

In [18]:

authors_stat.agg({"min_price": "min", 'max_price': 'max', 'mean_price': 'mean'})

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover,
в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая.
В этот столбец поместите данные из следующего списка:

    ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].

In [19]:
authors_price=authors_price.drop(['min_price','max_price','mean_price'], axis=1)
authors_price['cover']=['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая

Просмотрите документацию по функции pd. с помощью вопросительного знака.

In [20]:
?pd.pivot_table

Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке.
Используйте для этого функцию pd.pivot_table.
При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов.
Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.

### 1 вариант - предварительный
> группировка сначала по имени потом по обложке - далее суммирование

In [21]:
p=authors_price.groupby(['author_name', 'cover'])[['price']].sum()
p

                     price
author_name cover
Островский  мягкая     660
Тургенев    мягкая     650
            твердая    450
Чехов       твердая    950

### 2 вариант - развернутый
>группируем по (group by) имени и обожке, выбираем (select) стоимость, применяем (apply) агрегацию по сумму,
объединяем (combine) результирующие группы и преобразуем (unstack) иерархический индекс,
чтобы раскрыть скрытую многомерность.

In [24]:
# authors_price.pivot_table( )
authors_price.groupby(['author_name', 'cover'])['price'].aggregate('sum').unstack()

cover        мягкая  твердая
author_name
Островский    660.0      NaN
Тургенев      650.0    450.0
Чехов           NaN    950.0

### 3 вариант - pivot

In [46]:
cover_stat=authors_price.pivot_table('price', index='author_name', columns='cover', aggfunc=sum )
cover_stat
# cover_stat.drop([4])

cover        мягкая  твердая
author_name
Островский    660.0      NaN
Тургенев      650.0    450.0
Чехов           NaN    950.0

Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl".
Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

             min_price  max_price  mean_price
author_name
Островский         290        370  330.000000
Тургенев           300        450  366.666667
Чехов              450        500  475.000000

## Задание 5**
Создайте новый столбец в датафрейме authors_price под названием cover, в нем будут располагаться данные о том, какая обложка у данной книги - твердая или мягкая. В этот столбец поместите данные из следующего списка:

    ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая'].
Просмотрите документацию по функции pd. с помощью вопросительного знака.Для каждого автора посчитайте суммарную стоимость книг в твердой и мягкой обложке. Используйте для этого функцию pd.pivot_table. При этом столбцы должны называться "твердая" и "мягкая", а индексами должны быть фамилии авторов. Пропущенные значения стоимостей заполните нулями, при необходимости загрузите библиотеку Numpy.
Назовите полученный датасет book_info и сохраните его в формат pickle под названием "book_info.pkl". Затем загрузите из этого файла датафрейм и назовите его book_info2. Удостоверьтесь, что датафреймы book_info и book_info2 идентичны.

In [42]:
authors_price=authors_price.drop(['min_price','max_price','mean_price'], axis=1)
authors_price['cover']=['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
authors_price

   author_id author_name            book_title  price    cover
0          1    Тургенев           Отцы и дети    450  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
3          2       Чехов      Толстый и тонкий    500  твердая
4          2       Чехов       Дама с собачкой    450  твердая
5          3  Островский                 Гроза    370   мягкая
6          3  Островский  Таланты и поклонники    290   мягкая